<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="com.xse.eclipseui.logappender" name="LogAppender" schema="schema/com.xse.commons.logappender.exsd"/>
   <extension
         point="com.xse.eclipseui.logappender">
      <LogAppender
            appenderId="EclipseLog"
            class="com.xse.eclipseui.logging.EclipseLogAppender">
      </LogAppender>
   </extension>

</plugin>
